/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('../img/turtle_img.jpg');
}

main#two-columns {
    margin: 25px 0;
    /* display: flex; */
}

main#two-columns section {
    max-width: 90vw;
}

section#accelerate button {
    display: block;
    height: 150px;
    width: 150px;
    margin: 70px auto;
    padding: 20px;
    border-radius: 180%;
    background-color:#4984a7;
    border-color: #4984a7;
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
    margin: auto;
    display: block;
    text-align: center;
}

section {
    padding: 0px;
}

h4 {
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.race-track:after {
    content: "";
    display: table;
    clear: both;
}

#gas-peddle {
    font-size: 20px;
    color: white;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
    
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
      main#two-columns {
          margin: 50px 0;
          display: flex;
      }
      
      main#two-columns section {
          max-width: 50vw;
      }
      
      section#accelerate button {
          height: 300px;
          width: 300px;
          margin: 100px auto;
      }

      #leaderBoard {
          width: 500px;
      }
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
