/* RESULTS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
main {
    margin-top: 15px;
}

a {
    text-decoration: none;
    border: 1px black solid;
    text-align: center;
    margin: 20px auto;
    display: block;
    padding: 10px;
    width: 150px;
    color: white;
    background: #4984a7;
}

a:hover {
    background-color: #3e7392;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}